.container_details_page {
  min-height: 100vh;
  /* align-items: flex-start; */
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: space-around;
  display: flex;
  background-color: rgba(153, 0, 0, .3);
  font-size: 1.3em;
}

.container_details_page div:not(.hero-image) {
  border-radius: 5px;
  background-color: rgba(26, 20, 0, .8);
  padding: 45px 30px;
  color: #ffe0cc;
  border: 0.4px solid grey;
}

/* .item {
  width: 30%;
} */

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 60%;
}

.card-content ul {
  display: flex;
  flex-basis: 40%;
  padding-top: 15px;
}
.card-content ul li {
  height: 10%;
  flex-basis: 30%;
  margin: 0 7px;
  padding: 4px;
  border: 1px solid ;
}

p {
  margin-top: 20px;
  border-bottom: 1px solid white;
}

h1 {
  font-size: 1.3em;
}

.hero-image {
  display: block;
  background-color: #F0F0F0;
  padding: 5px;
  border-radius: 50%;
  border: 0.01px solid grey;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

img{
  width: 60px;
}

.hero-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 140px; */

  /* flex: 4; */
  /* margin: 25px 60px; */
}
